---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Navigation from "../components/Navigation.astro";
import MainContent from "../components/MainContent.astro";
import PortfolioContent from "../components/PortfolioContent.astro";
import ContactContent from "../components/ContactContent.astro";
---

<Layout title="Portafolio - Gerson Pereira">
  <Sidebar />
  <div class="flex-1 ml-80">
    <Navigation />
    <MainContent />
    <PortfolioContent />
    <ContactContent />

    <style>
      @keyframes pageTransition {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      body {
        animation: pageTransition 0.5s ease-out;
      }
    </style>
  </div></Layout
>
